@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  outline: none;
}

.error {
  @apply text-red-600;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
